  
.footer {
    width: 1200px;
    max-width: 1200px;
    margin: auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.link {
    color: #000000;
    text-decoration: none;
    font-size: 1.3rem;
}


.logoText {
    color: #000000;
    font-size: 1.3rem;
    margin-right: 10px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.social {
    margin: 10px;
}

.socialLink {
    color: #5e5e5e;
    text-decoration: none;
    font-size: 1.3rem;  
}

.developed {
    font-size: 1.3rem;
}

.link{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.3rem;
    color: #5e5e5e;
    text-decoration: none;
}

.link:hover {
    color: #000000;
}

@media (max-width: 765px) {
    .footer {
        width: 100%;
        max-width: 100%;
    }
    .container {
        padding: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .links {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .socials {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
}