.navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(31, 31, 31, 1);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
    max-width: 1200px;
    width: 90%;
    padding: 10px 20px;
    z-index: 100;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    font-family: 'Lexend Zetta';
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.1em;
}

.navbarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.menulinks{
    width: 100%;
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    font-size: 20px;
}

.link{
    color: rgb(191, 201, 209);
}

.link:hover{
    color: white;
    transition: color 0.3s ease;
}

.logo {
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.svg {
    width: 50px;
}

.menulinks_mobile{
    display: none;
    animation-name: hide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes hide {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}


    

@media (max-width: 765px) {
    .menulinks{
        width: auto;
    }
    .menulinks_mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    .show{
        display: block;
        animation-name: show;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        height: 100vh;
        position: fixed;
        top: 0px;
        animation-duration: 0.5s;
        display: block;
        z-index: 1000;
        background-color: rgba(31, 31, 31, 1);
        width: 36%;
        color: white;
    }

    @keyframes show {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0);
        }
    }
    .hide{
        animation: hide 0.5s forwards;
    }
    
    
    

    .links_mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 20px;
    }

    .links_mobile:hover{
        color: white;
    }

    .logo {
        color: aliceblue;
        text-decoration: none;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .svg {
        width: 50px;
    }

    .hamburger{
        display: block;
        width: 50px;
        height: 50px;
        position: relative;
        background-color: transparent;
        border: none;
    }

    .bar{
        display: block;
        width: 35px;
        height: 2px;
        background-color: white;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
    }

    .links{
        display: none;
    }

    .close{
        display: flex;
        justify-content: end;
        gap: 10px;
        padding: 10px;
    }
    .closeButton{
        background-color: transparent;
        border: none;
    }
}