.page {
  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 180px 0px;
  font-family: "Poppins", sans-serif;
  color: #333;
  line-height: 1.5;
  max-width: 1200px;
  margin: auto;
  width: 90%;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.presentation {
  text-align: left;
  display: flex;
  gap: 40px;
  padding-bottom: 140px;
}

.title {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: -0.04em;
  line-height: 1.2;
  padding-bottom: 130px;
}

.title span {
  font-weight: 400;
  color: #555;
}

.profileImage {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.subtitle {
  font-size: 3rem;
  font-weight: 400;
  max-width: 800px;
  letter-spacing: -0.04em;
  line-height: 1.2;
}

.subtitle span {
  font-weight: 400;
  color: #666;
}

.title, .subtitle {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1s ease-out forwards;
}

.experience {
  margin: 120px 20px;
  color: #333;
}

.experience h1 {
  font-family: "Pragati Narrow";
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: -.04em;
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: center;
}

.timeline {
  position: relative;
  padding: 20px 0;
}


.timeline-item {
  position: relative;
  margin: 10px 0;
}

.date {
  font-weight: bold;
  color: #1a5175;
  margin-bottom: 5px;
  font-size: 1.5rem;
}

.timeline-item .content {
  font-family: "Lexend Zetta";
  background-color: #fff;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.content strong {
  font-size: 1.5rem;
}

.content ul {
  font-family: "Lexend Zetta";
  list-style: none;
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}


.projects {
  margin: 120px 20px;
  color: #333;
}

.projectsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 20px;
}

.project {
  margin: 80px 0;
  text-align: left;
}

.projectTitle {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.projectImage {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.projectTitle h2 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 10px;
  letter-spacing: -.04em;
  line-height: 1.2;
}

.projectDescription {
  font-family: "Lexend Zetta";
  font-size: 1.5rem;
  line-height: 1.5;
}

.projectLinkDetailsP {
  font-family: "Lexend Zetta";
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 10px;
}



.contact {
  margin: 120px 20px;
  color: #333;
}

.contact h1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: -.04em;
  line-height: 1.2;
  padding-bottom: 30px;
}


.subtitle {
  font-family: "Lexend Zetta";
  font-size: 1.5rem;
  line-height: 1.5;
}

.link {
  color: #007bff;
  text-decoration: underline;
  text-underline-offset: 4px;
  transition: color 0.3s ease;
  margin: 5px;
}

.link:hover {
  color: #0b519c;
  text-decoration: underline;
  text-underline-offset: 4px;
  transition: color 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}





@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    border-color: transparent;
  }

  a.secondary:hover {
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}


@media (max-width: 768px) {
  .presentation {
    flex-direction: column;
    padding: 0px 30px;
    gap: 20px;
    align-items: center;
  }

  .title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .subtitle {
    font-size: 1.5rem;
    color: #666;
    text-align: center;
  }

  .experience {
    margin: 120px 20px;
  }

  .experience h1 {
    font-size: 2.5rem;
  }

  .timeline {
    position: relative;
  }

  .timeline-item {
    position: relative;
  }

  .timeline-item .content {
    font-family: "Lexend Zetta";
    background-color: #fff;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .content strong {
    font-size: 1.5rem;
  }

  .content ul {
    font-family: "Lexend Zetta";
    list-style: none;
    padding-left: 20px;
    margin-bottom: 20px;
    font-size: 1.2rem;
  }

  .projects {
    margin: 120px 20px;
  }

  .projectsList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  .projectsList {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .projectTitle {
    flex-direction: column;
  }

  .projectTitle h1 {
    font-size: 2.5rem;
  }

  .projectTitle h2 {
    font-size: 1.5rem;
  }

  .contact h1 {
    font-size: 2.5rem;
  }


}